In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [3]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://khangphung:postGres@localhost:5431/nyc_taxi')

In [19]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [23]:
len(df)

630918

In [22]:
df.to_sql(name='green_taxi_data', con=engine)

918

In [24]:
df2 = pd.read_csv('taxi+_zone_lookup.csv')

In [26]:
print(pd.io.sql.get_schema(df2, name='taxi_lookup', con=engine))

CREATE TABLE taxi_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [27]:
df2.to_sql(name='taxi_lookup', con=engine)

265